{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-W79KFC6');</script>
      <!-- End Google Tag Manager -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-2X0TQB86GS"></script>
      <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', 'G-2X0TQB86GS');
      </script>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, maximum-scale=1.0">
  <link rel="icon" type="image/png" href="../static/svg/main_logo.png">
  <title>Mytaxboard</title>
  {% block style %}
  
  <style>
    html {
      scroll-behavior: smooth !important;
      width:100%;
      height:100%;
      padding:0px;
      margin:0px;
      overflow-x:hidden;
    }

    .nav-link-inner--text {
      font-size: large;
      font-weight: 700;
    }
    body{
      {% comment %} max-width:100vw; {% endcomment %}
      overflow-x:hidden;
      {% comment %} overflow-y:hidden; {% endcomment %}
    }
    @media(min-width:769px)
      {
          #body1 {
              margin-left:6%;
              margin-right:6%;
            }
         
      }

}
  
  </style>

  {% endblock style %}

</head>
  {% include 'includes/cssfiledesign.html' %}

<body >
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W79KFC6"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
<div class="base_body ">
  <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-light position-sticky top-0 py-2 ">
    <div class="row m-0" style="width:100%">
      <a class=" mr-lg-5 mt-2" href="/">
        <img class="w-200" width="200px" height="70px" src="../static/svg/logo/my_taxboard_edged.svg">
      </a>
      <button class="navbar-toggler collapsed ml-auto pt-3" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse " id="navbar_global" style="">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 ">
              <a >
                <img class="w-200" width="200px" height="70px" src="../static/svg/logo/my_taxboard_edged.svg">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav navbar-nav-hover align-items-lg-center mt-3">
          <li class="nav-item dropdown mr-0 pt-3 px-3" style="position: static !important;">
            <a class="nav-link link-primary">
              <div class="row">
                <div>
                  <span class="nav-link-inner--text link-primary text-black" style="color:black;">Products</span> 
                </div>
                <div>
                  <i class="ni ni-bold-down ml-2 mt-1" id="products_icon" style="font-size:20px; color:black"></i> 
                </div>
              </div>
            </a>
            <div class="dropdown-menu"  style="margin-top: -10px !important;width: 80%;"> 
              <div class="row card-body justify-content-center" >
                {% comment %} <div class="col-md-3 ">
                  <div class="column ">
                    <div class="row justify-content-center">
                      <a href="" class="link-primary h5 font-weight-bold"><img src="../static/svg/dashboard_base/dashboard_black.svg" width="25" height="25" alt="enterprise"><span class="h5 text-center">&nbsp;&nbsp;Dashboard</span></a>
                    </div>
                  </div>
                </div> {% endcomment %}
                {% if product|length == 0 %}
                <div class="col-md-4">
                  <div class="column ">
                        <div class="row justify-content-center">
                            <a href="" class="link-primary h5 font-weight-bold text-center"><img src="../static/svg/dashboard_base/absolute.jpeg" width="25" height="25" alt="enterprise"><span class="h5 text-center">&nbsp;&nbsp;Absolute Compliance</span></a>
                        </div>
                  </div>
                </div>

                <div class="col-md-4 ">
                  <div class="column">
                      <div class="row justify-content-center">
                          <a href="" class="link-primary h6 font-weight-bold text-center"><img src="../static/svg/dashboard_base/tax_learn_black.svg"  width="26" height="26" alt="enterprise"><span class="h5 text-center">&nbsp;&nbsp;Knowledge Center</span></a>
                      </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="column">
                      <div class="row justify-content-center">
                        <a href="" class="link-primary h6  text-center"><img src="../static/svg/dashboard_base/tax_planner_black.svg"  width="25" height="25" alt="enterprise"><span class="h5 text-center">&nbsp;&nbsp;Tax Planner</span></a>
                      </div>
                  </div>
                </div>
                {%endif%}


                {%for i in product %}
                {%if i.select_link_title == "ABC" %}
                <div class="col-md-4">
                  <div class="column ">
                        <div class="row justify-content-center">
                          {%if i.select_link_title == "ABC" %}<a href="{{i.title_url}}" class="link-primary h5 font-weight-bold text-center">{%endif%}<img src="../static/svg/dashboard_base/absolute.jpeg" width="25" height="25" alt="enterprise"><span class="h5 text-center">&nbsp;&nbsp;Absolute Compliance</span></a>
                        </div>
                  </div>
                </div>
                {%endif%}
                {%if i.select_link_title != "KDC" and i.select_link_title != "TXP" and i.select_link_title != "ABC"  %}
                <div class="col-md-4">
                  <div class="column ">
                        <div class="row justify-content-center">
                            <a href="" class="link-primary h5 font-weight-bold text-center">ddfssdf<img src="../static/svg/dashboard_base/absolute.jpeg" width="25" height="25" alt="enterprise"><span class="h5 text-center">&nbsp;&nbsp;Absolute Compliance</span></a>
                        </div>
                  </div>
                </div>
                {%endif%}
                {%endfor%}

                {%for i in product %}
                {% if i.select_link_title == "KDC" %}
                  <div class="col-md-4">
                    <div class="column">
                        <div class="row justify-content-center">
                          {% if i.select_link_title == "KDC" %}<a href="{{i.title_url}}" class="link-primary h6 font-weight-bold text-center">{%endif%}<img src="../static/svg/dashboard_base/tax_learn_black.svg"  width="26" height="26" alt="enterprise"><span class="h5 text-center">&nbsp;&nbsp;Knowledge Center</span></a>
                        </div>
                    </div>
                </div>
                {%endif%}
              {%if i.select_link_title != "KDC" and i.select_link_title != "TXP" and i.select_link_title != "ABC"  %}
                <div class="col-md-4 ">
                  <div class="column">
                      <div class="row justify-content-center">
                          <a href="" class="link-primary h6 font-weight-bold text-center"><img src="../static/svg/dashboard_base/tax_learn_black.svg"  width="26" height="26" alt="enterprise"><span class="h5 text-center">&nbsp;&nbsp;Knowledge Center</span></a>
                      </div>
                  </div>
                </div>
              {%endif%}
              {%endfor%}

              {%for i in product %}
              {%if i.select_link_title != "KDC" and i.select_link_title != "TXP" and i.select_link_title != "ABC"  %}
              <div class="col-md-4">
                  <div class="column">
                      <div class="row justify-content-center">
                        <a href="" class="link-primary h6  text-center"><img src="../static/svg/dashboard_base/tax_planner_black.svg"  width="25" height="25" alt="enterprise"><span class="h5 text-center">&nbsp;&nbsp;Tax Planner</span></a>
                      </div>
                  </div>
                </div>
                {%endif%}
                {% if i.select_link_title == "TXP" %}
                  <div class="col-md-4">
                    <div class="column">
                        <div class="row justify-content-center">
                          {% if i.select_link_title == "TXP" %} <a href="{{i.title_url}}" class="link-primary h6  text-center">{%endif%}<img src="../static/svg/dashboard_base/tax_planner_black.svg"  width="25" height="25" alt="enterprise"><span class="h5 text-center">&nbsp;&nbsp;Tax Planner</span></a>
                        </div>
                    </div>
                  </div>
                {%endif%}
                {%endfor%}
              </div>
          </li>
          <li class="nav-item pt-3">
            <a href="{% url 'pricing' %}" class="nav-link link-primary">
              <span class="nav-link-inner--text"><span style="color:black;">Services</span></span>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-hover align-items-lg-center ml-lg-auto mt-3">
          <li class="nav-item pt-3">
            <a href="{% url 'aboutus' %}" class="nav-link link-primary">
              <span class="nav-link-inner--text"><span style="color:black;">About</span></span>
            </a>
          </li>
          <li class="nav-item pt-3">
            <a href="{% url 'contactus' %}" class="nav-link link-primary mr-4" >
              <span class="  nav-link-inner--text"><span style="color:black;"><b>Contact</b></span></span>
            </a>
          </li>

          {% if request.user.is_authenticated %}
          <li class="nav-item pt-3">
            <ul class="navbar-nav ">
              <li class="nav-item dropdown">
                <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="media align-items-center">
                    <span class="avatar avatar-sm rounded-circle mr-0" style="height: 40px; width: 40px;">
                      <img class="w-100 h-100" alt="Image placeholder" src="{% if request.user.last_name %}
                {{request.user.last_name}}
                  {%else%}
                  {% static '/assets_dashboard/img/theme/team-4.jpg' %}
                  {%endif%}
                  " style="object-fit: cover;" height="40px"/>

                    </span>
                    <div class="">
                      <span class="mb-0 text"
                      style="color: black; font-size:16px;">{%if request.user.email %}{{request.user.email}}{%else%}{{request.user}}{%endif%}</span>
                    </div>
                    {% comment %} <div class="media-body  d-none d-lg-block">
                      <span class="mb-0 text-sm text-white font-weight-bold">{{request.user.username}}</span>
                    </div> {% endcomment %}
                  </div>
                </a>
                <div class="dropdown-menu  dropdown-menu-right ">
                  <div class="dropdown-header noti-title">
                    <h6 class="text-overflow m-0">Welcome!</h6>
                  </div>
                  <a href="{% url 'bluer' %}" class="dropdown-item">
                    <img style="" src="{% static '/svg/dashboard_base/dashboard_black1.svg' %}" class="navbar-brand-img" alt="...">                
                    <span> Dashboard</span>
                  </a>
                  <a href="{% url 'profile' request.user.username %}" class="dropdown-item">
                    <img src="{% static '/svg/dashboard_base/profile_black.svg' %}" class="navbar-brand-img" alt="..."> 
                    <span> My profile</span>
                  </a>
                  <a href="{% url 'my_order' %}" class="dropdown-item">
                    <img src="{% static '/svg/dashboard_base/myorder_black.svg' %}" class="navbar-brand-img" alt="..."> 
                    <span> My Order</span>
                  </a>

                  <div class="dropdown-divider"></div>
                    <a href="{% url 'logout' %}" class="dropdown-item">
                      <i class="ni ni-user-run"></i>
                      <span>Logout</span>
                    </a>
                </div>
              </li>
            </ul>
          </li>
          {% else %}
          
            <li class="nav-item pt-3">
              <button type="button" class="btn btn-white text-info font-weight-700 px-3" data-toggle="modal" data-target=".bd-example-modal-lg"> 
                Log In 
              </button>
              <button type="button" class="btn btn-white text-black font-weight-700 " data-toggle="modal" data-target="#signuu_model">
                Get Started 
              </button>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>


  {% block content %}

  {% endblock content %}

{% comment %} start login model {% endcomment %}
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg">
  <div class="modal-content" style="border-radius: 25px;">
    <div class="modal-header border-0">
      <h3 class="modal-title pt-5 pl-5" id="exampleModalScrollableTitle"><b>Hi! What would you like to log into?</b>
      </h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="row p-3 justify-content-center">
        <div class="col-md-5 p-5 w-100 h-100 text-center"
          style="background-color: rgba(55, 213, 242, 0.2); border-radius:15px;">
          <img class="" src="/static/assets_design/img/home/individual.svg" class="img-fluid" class="mx-auto" alt="" height="150px">
          <div class="text-left mt-3">
           <h6 class=""> <b> For you </b> </h6>
           <p class="text-dark font-weight-bold mb-0"><i class="fa fa-check-circle mr-2" aria-hidden="true"></i> File ITR</p>
           <p class="text-dark font-weight-bold mb-0"><i class="fa fa-check-circle mr-2" aria-hidden="true"></i> Get expert assistance</p>
          </div>
          
          <a href="{% url 'login' %}">
            <button class="btn btn-primary col-md-12 mt-4 ">Login</button>
          </a>
        </div>
        <div class="offset-1 mt-2"></div>

        <div class="col-md-5 p-5 w-100 h-100 text-center" style="background-color: rgba(55, 213, 242, 0.2); border-radius:15px;">
          <img class="" src="/static/assets_design/img/home/illustration.svg" class="img-fluid" class="mx-auto" alt="" height="150px">
           <div class="text-left mt-3">
             <h6 class=""> <b> For your business </b> </h6>
             <p class="text-dark font-weight-bold mb-0"><i class="fa fa-check-circle mr-2" aria-hidden="true"></i> File ITR & GST</p>
             <p class="text-dark font-weight-bold mb-0"><i class="fa fa-check-circle mr-2" aria-hidden="true"></i> Get expert assistance</p>
           </div>
          
          <a href="{% url 'business_login' %}">
            <button class="btn btn-primary col-md-12 mt-4">Login</button>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
{% comment %} end login model {% endcomment %}
<!-- sign up model -->

<div class="modal fade " id="signuu_model" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="border-radius: 25px;">
      <div class="modal-header border-0">
        <h3 class="modal-title pt-5 pl-5" id="exampleModalScrollableTitle"><b>Hi! What would you like to Register?</b>
        </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="row p-3 justify-content-center">
          <div class="col-md-5 p-5 w-100 h-100 text-center"
            style="background-color: rgba(55, 213, 242, 0.2); border-radius:15px;">

            <img class="" src="/static/assets_design/img/home/individual.svg" class="img-fluid" class="mx-auto" alt="" height="150px">
            <div class="text-left mt-3">
              <h6 class=""> <b> For you </b> </h6>
              <p class="text-dark font-weight-bold mb-0"><i class="fa fa-check-circle mr-2" aria-hidden="true"></i> File ITR</p>
              <p class="text-dark font-weight-bold mb-0"><i class="fa fa-check-circle mr-2" aria-hidden="true"></i> Get expert assistance</p>
            </div>

            <a href="{% url 'signup' %}">
              <button class="btn btn-primary col-md-12 mt-4">Signup</button>
            </a>
          </div>

          <div class="offset-1 mt-2"></div>

          <div class="col-md-5 p-5 w-100 h-100 text-center"
            style="background-color: rgba(55, 213, 242, 0.2); border-radius:15px;">
            <img class="" src="/static/assets_design/img/home/illustration.svg" class="img-fluid" class="mx-auto" alt="" height="150px">
            <div class="text-left mt-3">
              <h6 class=""><b> For your business </b> </h6>
              <p class="text-dark font-weight-bold mb-0"><i class="fa fa-check-circle mr-2" aria-hidden="true"></i> File ITR & GST</p>
              <p class="text-dark font-weight-bold mb-0"><i class="fa fa-check-circle mr-2" aria-hidden="true"></i> Get expert assistance</p>
            </div>

            <a href="{% url 'business_signup' %}">
              <button class="btn btn-primary col-md-12 mt-4">Signup</button>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
<!-- end sign up model -->

</div>
{% include 'includes/jsfiledesign.html' %}

  {% block script %}
  {% comment %} <script>
    // Carousel
    new Glide('.glide', {
      type: 'carousel',
      startAt: 0,
      focusAt: 2,
      perTouch: 1,
      perView: 4
    }).mount();


    // Testimonial Carousel
    new Glide('.testimonial-glide', {
      type: 'carousel',
      startAt: 0,
      focusAt: 2,
      perTouch: 1,
      perView: 4
    }).mount();

    ArgonKit.initGoogleMaps();
    ArgonKit.initGoogleMaps2();
  </script> {% endcomment %}
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "argon-design-system-pro"
      });
  </script>

  {% endblock script %}
  {% include 'includes/jsfiledesign.html' %}
  {% include 'includes/jsfiledashboard.html' %}
  <!-- Start of Rocket.Chat Livechat Script -->
  <script type="text/javascript">
    (function(w, d, s, u) {
      w.RocketChat = function(c) { w.RocketChat._.push(c) }; w.RocketChat._ = []; w.RocketChat.url = u;
      var h = d.getElementsByTagName(s)[0], j = d.createElement(s);
      j.async = true; j.src = 'https://chat.absolutecompliance.in/livechat/rocketchat-livechat.min.js?_=201903270000';
      h.parentNode.insertBefore(j, h);
    })(window, document, 'script', 'https://chat.absolutecompliance.in/livechat');
    </script>
</body>

</html>
